.portfolio {
  .inner {
    h2 {
      color: $main-color;
      text-align: center;
      font-size: 50px;
    }
    .contents {
      .portfolio-box {
        .portfolio-team {
        }
        .portfolio-study {
          .mySwiper {
            .swiper-slide {
              display: flex;
              align-items: center;
              justify-content: center;
              .sw-inner {
                text-align: center;
                width: 500px;
                height: 400px;
                background-color: $main-color;
              }
            }
          }
        }
      }
    }
  }
}

// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  .portfolio-left,
  .portfolio-right {
    width: 100% !important;
  }
}
