.portfolio {
  .inner {
    h2 {
      color: $main-color;
      text-align: center;
      font-size: 50px;
    }
    .contents {
      .portfolio-box {
      }
    }
  }
}

// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  .portfolio-left,
  .portfolio-right {
    width: 100% !important;
  }
}
