.portfolio {
  .inner {
    h2 {
      color: $main-color;
      text-align: center;
      font-size: 50px;
    }
    .contents {
      .portfolio-box {
        .portfolio-team {
          .team-project {
            position: relative;
            display: flex;
            gap: 50px;
            width: 100%;
            height: 100%;
            padding: 20px;
            margin: 20px;
            box-shadow: 0px 0px 10px 1px #b3b7b6;
            border-radius: 10px;
            .team-box {
            }
            .team-text {
              h4 {
                font-size: 30px;
                margin-bottom: 20px;
              }
              p {
                margin-bottom: 15px;
                b {
                  margin-right: 20px;
                  font-size: 20px;
                }
              }
            }
          }
        }
        .portfolio-study {
          .mySwiper {
            .swiper-slide {
              display: flex;
              align-items: center;
              justify-content: center;
              .sw-inner {
                text-align: center;
                width: 500px;
                height: 400px;
                background-color: $main-color;
                img {
                  width: 540px;
                  height: 540px;
                }
              }
            }
            .swiper-button-prev,
            .swiper-button-next {
              color: $main-color;
            }
            .swiper-pagination {
              .swiper-pagination-bullet {
                background-color: $main-color;
              }
            }
          }
        }
      }
    }
  }
}

// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  .portfolio-left,
  .portfolio-right {
    width: 100% !important;
  }
}
