.profile {
  .inner {
    h2 {
      color: $main-color;
      text-align: center;
      font-size: 50px;
    }
    .contents {
      width: 100%;
      display: flex;
      gap: 30px;
      justify-content: center;
      align-items: center;
      .profile-left {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 400px;
        height: 450px;
        background-color: #ffffff;
        position: relative;
        box-shadow: 0px 0px 10px 1px #b3b7b6;
        padding: 30px;
        border-radius: 10px;
        .img-box {
          width: 200px;
          height: 200px;
          background-color: $main-color;
          margin-bottom: 50px;
          border-radius: 50%;
        }
        span {
          margin-bottom: 10px;
        }
      }
      .profile-right {
        position: relative;
        width: 700px;
        height: 450px;
        background-color: #ffffff;
        position: relative;
        box-shadow: 0px 0px 10px 1px #b3b7b6;
        padding: 30px;
        border-radius: 10px;
        h3 {
          padding: 10px 0;
          text-align: left;
        }
        span {
        }
      }
    }
  }
}

// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  .profile .contents {
    flex-wrap: wrap !important;
    .profile-box {
      width: 100% !important;
    }
  }
}
