.skills {
  .inner {
    h2 {
      color: $main-color;
      text-align: center;
      font-size: 50px;
      font-weight: 700;
    }
    .contents {
      .mySwiper {
        .swiper-slide {
          position: relative;
          text-align: center;
          font-size: 18px;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 250px;
          .sw-inner {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 200px;
            background-color: #fff;
            box-shadow: 0px 0px 10px 1px #b3b7b6;
            border-radius: 10%;
            img {
              position: relative;
              width: 150px;
              height: 150px;
            }
          }
          .sw-inner-hover {
            display: flex;
            position: absolute;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 200px;
            padding: 30px;
            border-radius: 10%;
            opacity: 0;
            transition: opacity 0.5s;
            box-shadow: 0px 0px 10px 1px #b3b7b6;
            &:hover {
              opacity: 1;
              background-color: rgba(0, 0, 0, 0.7);
            }
            span {
              color: #fff;
            }
          }
        }
        .swiper-button-prev,
        .swiper-button-next {
          color: $main-color;
        }
        .swiper-pagination {
          .swiper-pagination-bullet {
            background-color: $main-color;
          }
        }
      }
    }
  }
}
// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  .skills-list {
    li {
      width: 50% !important;
    }
  }
}
